{% extends 'base.html' %}


{% block title %}Log in {% endblock %}

{% block content %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <h5 style="text-align: center;"> <strong>Please, write a correct login !</strong> </h5>
        </div>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success m-0"> Log in</button>
    </form>

{% endblock %}

