{% extends 'base.html' %}


{% block title %} Forget your password ? {% endblock %}

{% block content %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h5 style="text-align: center;"> <strong>You can reset your password! </strong> </h5>
</div>
    <p>Enter your email address below, and we'll email instructions for setting
    a new one.</p>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input class="btn btn-success" type="submit" value="send me instactions!">
        </form>

{% endblock %}