{% extends 'base.html' %}
{% load static %}

{% block title %}Email Sent{% endblock title %}

{% block content %}
<div class="alert alert-success" role="alert" style="margin-bottom: 0px;">
    <h4 class="alert-heading">Check your inbox!</h4>
    <p> We've emailed you instructions for setting your password.
        You should receive the email shortly!.</p>
    <hr>
    <p class="mb-0">Whenever you need to be sure to check you email.</p>
  </div>

  <div class="card" style="width: 85rem; ">
    <img src="{% static 'logo-gmail.png' %}" class="card-img-top" alt="..." >
    <div class="card-body">
      <p class="card-text">Some quick example text to build </p>
    </div>
  </div>
{% endblock %}
    