{% extends 'base.html' %}

{% block title %} Password Change{% endblock %}

{% block content %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h5 style="text-align: center;"> <strong> You can change  your password!</strong> </h5>
</div>
    <p>Please enter your old password, for security's sake, and then enter your
    new password twice so we can verify you typed it in correctly.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p}}}
        <input class="btn btn-success" type="submit" value="Change my password">
    </form>
{% endblock content %}