{% extends 'base.html' %}

{% load static %}

{% block title %}about us{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="padding-top: 0;">
    <div class="container">
      <h1 class="display-4" style="text-align: center;margin-bottom: 10px;font-family:fantasy;">About company</h1>
      <p class="lead" style="font-family: cursive;margin-bottom: 0px;">
        О КОМПАНИИ

Компания «Империя Пиццы» была основана в 2007 году как франшиза от компании – «Империя пиццы» г. Москва РФ.
За короткий срок из одного небольшого заведения мы выросли до самой крупной сети в Кыргызстане с собственным производством, службой доставки, филиалами в разных точках города и за его пределами.

Почему выбирают нас:

УНИКАЛЬНОЕ И РАЗНООБРАЗНОЕ МЕНЮ
Наше меню включает в себя блюда итальянской, японской, европейской и азиатской кухни. Ежегодно мы обновляем наше меню и коктейльную карту.

БЕСПЛАТНАЯ ДОСТАВКА 24/7
Мы работаем без выходных и перерывов 24 часа 7 дней в неделю. Наша доставка абсолютно бесплатна вне зависимости от зоны доставки.

УДОБНАЯ ЛОКАЦИЯ ФИЛИАЛОВ
Наши филиалы расположены в разных точках города Бишкек. Более того, у нас есть филиалы в г. Кара-Балта, с. Новопавловка, с. Лебединовка. Это делает посещение филиала доступным и удобным для Гостей.

ПОСТОЯННЫЕ АКЦИИ СЕТИ
Мы любим наших Гостей. Именно поэтому, у нас имеются постоянные акции, которые делают посещение еще более выгодным и приятным. Подробнее с ними можно ознакомиться в соответствующем отделе сайта.

БОНУСНАЯ СИСТЕМА (ОБМЕН БАЛЛОВ НА БЛЮДА И НАПИТКИ)
Помимо акций, у нас действует бонусная система, позволяющая копить баллы, с помощью которых в дальнейшем можно добавить бесплатное блюдо или напиток к своему заказу на филиале. Бонусная система работает в рамках мобильного приложения «Империя Пиццы Бишкек».

ДИСКОНТНАЯ КАРТА
Мы ценим каждого нашего Гостя и очень рады, когда это взаимно. Мы перешли на виртуальные дисконтные карты, которые работают с помощью мобильного приложения. Теперь каждый наш Гость имеет возможность фиксировать свои заказы (включая доставку) и в дальнейшем получать скидку согласно сумме потраченных средств.

РАЗНООБРАЗНЫЙ ВИД ДОСУГА
Каждый наш Гость найдет тот вид досуга, который ему необходим в не зависимости от случая посещения. Мы можем предложить Вам:
• караоке зал
• филиалы в стиле «lounge»
• филиалы с летними террасами

У вас есть вопросы, жалобы или предложения?
Электронная почта для официальных писем, запросов и коммерческих предложений - skp@mypizza.</p>
    </div>
</div>

{% endblock %}