{% extends 'base.html' %}

{% load static %}

{% block title %}contact{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="display: flex;justify-content: space-around;padding-left: 10%;padding-top: 2%;">
    <div class="container">
      <h3 class="display-4" style="color:black;">Whatsapp</h3>
      <a href="#"><p class="lead">+996 (500) 30 30 30</p></a>
      <a href="#"><p class="lead">+996 (555) 30 30 30</p></a>
      <a href="#"><p class="lead">+996 (700) 30 30 30</p></a>
    </div>
    <div class="container">
      <h3 style="color: black;">Telegram</h3>
      <a href="#"><p class="lead">+996 (500) 40 30 30</p></a>
      <a href="#"><p class="lead">+996 (555) 40 30 30</p></a>
      <a href="#"><p class="lead">+996 (700) 40 30 30</p></a>
    </div>
    <div class="container">
      <h3 style="color:black">Instagram</h3>
      <a href="#" style="font-weight: light;font-family: cursive;font-size: 20px;"><p> pizza_kg</p></a>
      <h3 style="color:black;">Facebook</h3>
      <a href="#" style="font-weight: light;font-family: cursive;font-size: 20px;"><p>Pizza_Kg</p></a>
      <h3 style="color:black;">GMAIL</h3>
      <a href="#" style="font-weight: light;font-family: cursive;font-size: 20px;"><p>@pizza.gmail.com</p></a>
    </div>
</div>

{% endblock %}