{% extends 'base.html' %}


{% block title %}Reservation{% endblock %}

{% block content %}

<h1> Are you want to reservation ?</h1>

  <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
    <div class="form-wrap">
        <div class="tab">
            <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
                <div class="form-wrap">
                    <div class="tab">
                        
                        <div class="tab-content">
                            <div class="tab-content-inner active" data-content="signup">
                                <h3 class="cursive-font">Table Reservation</h3>

                                <form action="#">
                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            <label for="activities">Persons</label>
                                            <select name="#" id="activities" class="form-control">
                                                <option value="">Persons</option>
                                                <option value="">1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                                <option value="">4</option>
                                                <option value="">5+</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                         <div class="col-md-12">
                                             <label for="date-start">Date</label>
                                                <input type="text" id="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            <label for="date-start">Time</label>
                                                <input type="text" id="time" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            <a href="{% url 'main' %}"><input type="submit" class="btn btn-primary btn-block" value="Reserve Now"></a>
                                        </div>
                                    </div>
                                </form>	
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}