{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block content %}
    <p>Are you sure you want to remove this announcement</p>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Confirm" class="btn btn-success">
        <a href="{% url 'list'%}" class="btn btn-primary">No</a>
    </form>
{% endblock %}