{% extends 'base.html' %}
{% load static %}

{% block title %}Detail {% endblock %}

{% block content %}
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row no-gutters" style="align-items: center;" >
            
                <div class="col-md-4" style="padding-left: 50px;"> 
                    <a href="{% url 'detail' food.pk %}" >
                        <img src="{% if food.image %}{{ food.image.url }}{% endif %}" class="card-img" alt="..." style="max-width: 250px;">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title"><a href="{% url 'detail' food.pk %}">{{ food.title }}</a></h2>
                        <p class="card-text"> {{food.body}}</p>
                        <h4>{{ food.price }} $</h4>
                        <p class="card-text"><small class="text-muted"> вес/weight : {{food.weight}}</small></p>
                        {% if user.is_authenticated %}
                        <a href="{% url 'update' food.pk %}" class="btn btn-primary">Update</a><a href="{% url 'delete' food.pk %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                    </div>
                </div>
            
        </div>
    </div>
    
    


{% endblock %}