{% extends 'base.html' %}
{% load static %}

{% block title %} {% endblock %}

{% block content %}
    <div style="margin-right: 10%;margin-left: 10%;">
        {% for food in categories %}
                <div class="card mb-3" style="max-width: 100%;">
                    <div class="row no-gutters" style="align-items: center;" >
                        
                            <div class="col-md-4" style="padding-left: 50px;"> 
                                <a href="{% url 'c_detail'  %}" >
                                    <img src="{% if food.image %}{{ food.image.url }}{% endif %}" class="card-img" alt="..." style="max-width: 250px;">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h2 class="card-title"><a href="{% url 'c_detail' food.pk %}">{{ food.title }}</a></h2>
                                    <a href="{% url 'c_detail' food.pk %}"> подробнее</a>
                                    <h4>{{ food.price }} $</h4>
                                    <p class="card-text"><small class="text-muted"> вес/weight : {{food.weight}}</small></p>
                                </div>
                            </div>
                        
                    </div>
                </div>
        {% endfor %}
    </div>
{% endblock %}
