{% extends 'base.html' %}

{% block title%} Personal Area {% endblock %}

{% block content %}
<div class="container">
        <h1 style="text-align: center; color:blue;">Personal Area</h1>
        <br>
        <hr style="height: 5px;">
        <div style="display: flex;justify-content: space-around;"></div>  
</div>
    

      
        <div class="alert alert-primary" role="alert">
        <a href="{% url 'password_change' %}" class="alert-link">Change password</a>. Give it a click.
        </div>
        <div class="alert alert-secondary" role="alert">
        <a href="{% url 'password_reset' %}" class="alert-link">Reset password</a>. Give it a click.
        </div>
        <div class="alert alert-success" role="alert">
        <a href="{% url 'area' %}" class="alert-link">Admin Panel</a>. Give it a click.
         </div>
    
{% endblock %}