{% extends 'base.html' %}


{% block title %} Sign Up {% endblock %}

{% block content %}

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <h6 style="text-align: center;"> <strong>That greate! </strong>   After sign up you will be have a personal area! </h6>
  </div>
  
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit" class="btn btn-success">Save</button>
       
    </form>

{% endblock %}

